 .header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Logo styles */
.header_logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

/* Search icon styles */
.header_searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042; 
}
/* Search bar styles */
.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header_searchInput {
  height: 11px; 
  padding: 10px;
  border: none;
  width: 100%;
}

/* Navigation and option styles */
.header_option {
  display: flex;
  flex-direction: column;
  margin: 0 10px; 
  color: white;
}

/* Navigation bar styles */
.header_nav {
  display: flex;
  justify-content: space-evenly;
}

/* Option line one styles */
.header_optionLineOne {
  font-size: 10px;
}

/* Option line two styles */
.header_optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

/* Basket and count styles */
.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header_basketCount {
  margin: 0 10px; 
}

/* Clear link styles */
.header_clearLink {
  text-decoration: none;
}
